#corpoInicio{
   background-color: white; 
   background-image: url(../static/images/ELEMENTO\ 1.png);
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
}

#cabecalhoInicio{
    width: 100%;
    color: #f4f4f4;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid;
}

#logoheader{
    width: 10%;
    height: 10%;
    margin-left: 1%;
}
#entrarInicio{
    background-color: white;
    color: #317a7e;
    border-color: #c4c4c4;
    width: 5%;
    height: 4.5%;
    position: relative;
    margin-left: 85%;
    margin-right: 0.2%;
    margin-top: -5%;
    font-size: large;
    text-align: center;

}
#entrarInicio:hover{
    background-color: #f6f7f7;
    color: #317a7e;
    border-color: #317a7e;
    width: 5%;
    height: 4.5%;
    position: relative;
    margin-left: 85%;
    margin-right: 0.2%;
    margin-top: -5%;
    font-size: large;
    text-align: center;
}
#criarConta{
    color: white;
    background-color: #317a7e;
    border-color: #317a7e;
    width: 8%;
    height: 4.5%;
    margin-top: -5%;
    position: relative;
    font-size: large;
    text-align: center;
} 
#criarConta:hover{
    color: white;
    background-color: #205f63;
    border-color: #205f63;;
    width: 8%;
    height: 4.5%;
    margin-top: -5%;
    position: relative;
    font-size: large;
    text-align: center;
}

#areasubtitulo{
   background-color: white;
   width: 800px;
   margin-left: 50px;
}

 #subtituloarea{
   color: #205f63;
   font-family: Impact;
   font-size: 1.5cm;
}

 #areaTexto{
   background-color: white;
   margin-left:80px ;
   width: 700px;
   border-radius: 10px;
   border: solid #c0c0c0;
   padding: 20px;
   
   

 }     

 #textoInicio{
   border-radius: 10px;
   font-family: Verdana;
   font-size: 0.6cm;
   color: #205e63b7;
   
}

#texto1{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 200%;
}

/* PÁGINA ENTRAR */

#textoArea{
   border-color: #205f63;
   border-radius: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*PÁGINA ENTRAR*/

#corpoEntrar{
   background-image: url(images/ELEMENTO\ 3.png);
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}


#areaEntrar{
   background-color:white;
   width: 600px;
   height: 700px;
   box-shadow: 10px, 10px, 10px, #1c232e;
   border-radius: 20px;

}

img#setavoltar{
   width: 30px;
   height: 30px;
   margin-left: -180px;
}

#entrarBotao{
    background-color: white;
    color: #317a7e;
    border-color: #c4c4c4;
    width: 230px;
    position: relative;
    border-radius: 20px;
}
#entrarBotao:hover{
   background-color: #f6f7f7;
   color: #317a7e;
   border-color: #317a7e;
   width: 230px;;
   border-radius: 20px;
}

#logoGoogle{
   width: 35px;
   height: 35px;
}
#tituloEntrar{
   margin-left: 0px;
   font-family: Verdana;
   font-size: x-large;
   font-weight: bold;
   color: #317a7e;
   text-align: center;
}


#textoEntrar{
   margin-left: 0px;
   font-family: Verdana;
   font-size: 0.48cm;
}

#inputUser{
   width: 400px;
   margin-left: 40px;
}

#logoNexus{
  width: 136px;
  height: 70px;
  margin-left: 30px;
  margin-right: -120px;
}

#textoEntrar2{
   margin-top: -20px;
   font-family: Verdana;
   font-size: 0.48cm;
}
#iconeOlho{
   width: 20px;
   height: 20px;
}
#mostrarSenha{
   width: 40px;

}
#botaoEntrar{
    background-color: white;
    color: #317a7e;
    border-color: #c4c4c4;
    width: 120px; 
    height: 40px;
    position: relative;
    font-size: large;
    text-align: center;
}
#botaoEntrar:hover{
    background-color: #f6f7f7;
    color: #317a7e;
    border-color: #317a7e;
    width: 120px; 
    height: 40px;
    position: relative;
    font-size: large;
    text-align: center;
}
   /* PÁGINA CONTINUAR COM GOOGLE*/
   #corpoContinuarGoogle{
   background-image: url(images/ELEMENTO\ 4.png);
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
#tituloContinuarGoogle{
   margin-left: 0px;
   font-family: Verdana;
   font-size: x-large;
   font-weight: bold;
   color: #317a7e;
   text-align: center;
}

/* PÁGINA INDEX*/
#cabecalhoIndex{
   background-color: #0B6265;
   color: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   width: 100%;
   border-bottom: 6px solid transparent;
   background-image:
       linear-gradient(#0B6265, #0B6265),
       linear-gradient(to bottom, #0B6265, #ffffff);
   background-origin: padding-box, border-box;
   background-clip: padding-box, border-box;
}
#degradeCabecalhoIndex{
 height: 10px;
 width: 100%;
 background: linear-gradient(to bottom, #317a7e, #ffffff);
}

#bot{
   width: 300px;
   margin-left: 110px;
}

#container{
   width: 300px;
   align-items: center;
   margin-left: 800px;
   margin-bottom: 10px;
}

.input-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
   min-width: 32px;
   min-height: 32px;
   color: #1c232e;
   background-color: #0B6265;
}

.input-field{
   border: none;
   background-color: transparent;
}

.input-group{
   display: flex;
   align-items: center;
   background-color: #ffffff;
   padding: 8px 16px 8px 8px;
   border-radius: 24px;
   gap: 8px;
}